{% load static %}

<!DOCTYPE html>
<html lang="fr-fr">
<head>
  <title>The Wonderful Ticket Application</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class=" dashboard"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">
  <!-- Header -->
  <div id="header">
    <div id="branding">
      <h1 id="site-name">{% block titre %}The Wonderful Ticket Application{% endblock %}</h1>
    </div>
    <div id="user-tools">
      Bienvenue.
      Nous sommes le {% now 'd/m/Y' %} 
      <a href="{% url 'index' %}">Retourner à l'index</a> /
      <a href="/admin/">Panneau d'administration</a>
    </div>
  </div>
  <!-- END Header -->

  <!--{% include 'app/header.html' %}-->


  <div id="content">
    <a href="app">Aller sur App</a>
  </div>
</body>
</html>
