{% extends '../app/base.html' %}

{% block titre %}Login{% endblock %}

{% block contenu %}
<div class="app-app module">
    <form method="post">
        <table>
            <caption>
                <div class="section">Login</div>
            </caption>
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td><input type="submit" value="Login"/></td></tr>
        </table>
    </form>
</div>
{% endblock %}
