{% load static %}

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <title>The Wonderful Ticket Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">-->
    <script type="text/javascript" src="{% static 'js/fonctions.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class=" dashboard" data-admin-utc-offset="0">

<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">{% block titre %}The Wonderful Ticket Application{% endblock %}</h1>
        </div>
        <div id="user-tools">
            {% if user.is_authenticated %}
            Bienvenue {{ user.get_username }}
            Nous sommes le {% now 'd/m/Y' %} 
            <a href="{% url 'home' %}">Retourner à l'index</a> /
            <a href="/admin/">Panneau d'administration</a> /
            <a href="{% url 'logout'%}?next={{request.path}}">Déconnexion</a>
            {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %} 
        </div>
    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="{% url 'index' %}">Index</a>
        | <a href="{% url 'projets' %}">Projets</a>
        | <a href="{% url 'histo' %}">Historique</a>
        | <a href="{% url 'graphes' %}">Graphes</a>
    </div>
    
    <!--{% include 'app/header.html' %}-->
    
    <div id="content">
        {% block contenu %}{% endblock %}
    </div>
</div>

</body>
</html>
