{% extends 'app/base.html' %}

{% block titre %}Catégories{% endblock %}

{% block contenu %}
<div class="app-app module">
    <table>
        <caption>
            Catégories <a href="{% url "ajouteCategorie" %}" class="objet-tools">Ajout</a>
        </caption>
        {% for categorie in categories %}
        <tr class="model-categorie">
            <th scope="row">{{ categorie.nom }}</th>
            <td><a href="{% url 'modifieCategorie' categorie.id %}" class="objet-tools">Modification</a></th>
            <td>
                <form action="{% url 'categorie' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="Suppression">
                    <input type="hidden" name="modele" value="Catégorie">
                    <input type="hidden" name="id" value="{{ categorie.id }}">
                    <input type="submit" value="Supprimer">
                </form> 
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
