{% extends 'app/base.html' %}
{% load static %}

{% block titre %}{{ type }} de {{ modele }}{% endblock %}

{% block contenu %}

<div class="app-app module">
    {% if redirection == 'projet' and idProjet == '0' %}
    <form action="{% url 'histo' %}" method="post">
    {% elif redirection == 'projet' and idProjet != '0' %}
    <form action="{% url redirection idProjet %}" method="post">
    {% else %}
    <form action="{% url redirection %}" method="post">
    {% endif %}
    
        {% csrf_token %}
        <input type="hidden" name="type" value="{{ type }}"/>
        <input type="hidden" name="modele" value="{{ modele }}"/>
        {% if type == 'Modification' %}
        <input type="hidden" name="id" value="{{ enregistrement.id }}"/>
        {% endif %}
    
        <table>
            <caption>
                <div class="section">{{ modele }}</div>
            </caption>
            {% for champ in form %}
            <tr class="model-categorie">
                {% if champ.name == "fin" %}
                <th scope="row">{{champ.label_tag}}</th>
                <td id="fin">{{ champ }}</td>
                <td><button id="button" onclick="return changeFin()">Maintenant</button></td>
                {% elif champ.name == "debut" %}
                <th scope="row">{{champ.label_tag}}</th>
                <td id="debut">{{ champ }}</td>
                <td><button id="button" onclick="return changeDebut()">Maintenant</button></td>
                {% else %}
                <th scope="row">{{champ.label_tag}}</th>
                <td>{{ champ }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Soumettre"/>
    </form>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
function categoryHandler(e) {
    jQuery.get("{% url 'ajaxGetProjets' %}?categorie="+document.getElementsByName('categorie')[0].value, function(retour) {
        var i;
        var str = '<option value="'+retour.liste[0][0]+'" style="font-size: 13px !important; line-height: 18.3333px !important;" selected>' + retour.liste[0][1] + '</option>';
        for (i = 1; i < retour.liste.length; i++) { 
            str = str + '<option value="'+retour.liste[i][0]+'" style="font-size: 13px !important; line-height: 18.3333px !important;">' + retour.liste[i][1] + '</option>';
        }
        document.getElementsByName('projet')[0].innerHTML = str;
    });
}

window.onload = function () {
    {% if categorie %}
    document.getElementsByName('categorie')[0].value = {{ categorie }};
    {% endif %}
    document.getElementsByName('categorie')[0].setAttribute("onchange", "categoryHandler()");
}
</script>
{% endblock %}
