{% extends 'app/base.html' %}
{% load static %}
{% load filters %}

{% block titre %}Graphes{% endblock %}

{% block contenu %}
<div class="module">
    <table width=100%>
        <caption>
            <center>
                <a href="{% url "graphes" %}?duree={{ duree|add:"7" }}&decalage={{ decalage }}{{ semaineStr }}{{ pourcentStr }}" class="objet-tools">+ 7 jours</a>
                <a href="{% url "graphes" %}?duree={{ duree|add:"-7" }}&decalage={{ decalage }}{{ semaineStr }}{{ pourcentStr }}" class="objet-tools">- 7 jours</a>
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage|add:"7" }}{{ semaineStr }}{{ pourcentStr }}" class="objet-tools">&lt; 7 jours</a>
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage|add:"-7" }}{{ semaineStr }}{{ pourcentStr }}" class="objet-tools">7 jours &gt;</a>
                {% if semaine %}
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage }}{{ pourcentStr }}" class="objet-tools">Au jour pr&egrave;s</a>
                {% else %}
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage }}&semaine{{ pourcentStr }}" class="objet-tools">&Agrave; la semaine pr&egrave;s</a>
                {% endif %}
                {% if pourcent %}
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage }}{{ semaineStr }}" class="objet-tools">Sans pourcentage</a>
                {% else %}
                <a href="{% url "graphes" %}?duree={{ duree }}&decalage={{ decalage }}{{ semaineStr }}&pourcent" class="objet-tools">Avec pourcentage</a>
                {% endif %}
            </center>
        </caption>
    </table>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/canvasjs.min.js' %}"></script>

<script type="text/javascript">
window.onload = function () {

    // Les données
    var chartData = {
        "Évolution par catégorie": [
            {% for elt in evolutionTemps %}
            {
                // Change type to "doughnut", "line", "splineArea", etc.
                {% if pourcent %}
                type: "stackedColumn100",
                toolTipContent: "{name}: #percent% - {label}",
                {% else %}
                type: "stackedColumn",
                toolTipContent: "{name}: {str} - {label}",
                {% endif %}
                click: chart1Handler,
                cursor: "pointer",
                name: "{{ elt.categorie }}",
                legendMarkerType: "circle",
                showInLegend: true,
                dataPoints: [
                        {% for cle, valeur, str in elt.list %}
                        { label: "{{ cle }}", y: {{ valeur }}, str: "{{ str }}", name: "{{ elt.categorie }}"  },
                        {% endfor %}
                ]
            },
            {% endfor %}
        ],
        "Répartition par catégorie": [{
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "doughnut",
            click: chart2Handler,
            cursor: "pointer",
            explodeOnClick: false,
            innerRadius: 60,
            //showInLegend: true,
            indexLabel: "{label} – #percent%",
            toolTipContent: "<b>{label}:</b> {str} (#percent%)",
            dataPoints: [
                    {% for cle, valeur, str in repartitionCategorie %}
                    { label: "{{ cle }}", y: {{ valeur }}, str: "{{ str }}" },
                    {% endfor %}
            ]
        }],
        "Répartition par projet": [{
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "doughnut",
            //startAngle: -90,
            innerRadius: 60,
            //indexLabelFontSize: 17,
            indexLabel: "{label} – #percent%",
            toolTipContent: "<b>{label}:</b> {str} (#percent%)",
            dataPoints: [
                {% for cle, valeur, str in repartitionProjet %}
                { label: "{{ cle }}", y: {{ valeur }}, str: "{{ str }}" },
                {% endfor %}
            ]
        }],
        "Évolution du score": [{
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "column",
            legendMarkerType: "circle",
            dataPoints: [
                {% for cle, valeur in evolutionScore %}
                { label: "{{ cle }}", y: {{ valeur }} },
                {% endfor %}
            ]
        }],
        {% for elt in repartitionPourCategorie %}
        "Répartition pour {{ elt.categorie }}": [
            {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "doughnut",
            //startAngle: -90,
            innerRadius: 60,
            //indexLabelFontSize: 17,
            indexLabel: "{label} – #percent%",
            toolTipContent: "<b>{label}:</b> {str} (#percent%)",
            dataPoints: [
                    {% for cle, valeur, str in elt.list %}
                    { label: "{{ cle }}", y: {{ valeur }}, str: "{{ str }}" },
                    {% endfor %}
                ]
            },
        ],
        {% endfor %}
        "Évolution pour projet": [
            {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "stackedColumn",
            legendMarkerType: "circle",
            name: "{{ elt.projet }}",
            click: chart3Handler,
            cursor: "pointer",
            showInLegend: true,
            toolTipContent: "{label}: {str}",
            dataPoints: []
            },
        ],
    };
    
    // Les options
    var chartOptions = {
        "Répartition par catégorie": {
            animationEnabled: true,
            theme: "dark1", //light1, light2, dark1, dark2
            //width: "1000",
            //legend: {
            //    fontFamily: "calibri",
            //    fontSize: 14,
            //    itemTextFormatter: function (e) {
            //        return e.dataPoint.label + ": " + Math.round(e.dataPoint.y / {{ tempsTotal }} * 100) + "%";
            //    }
            //},
            data: []
        },
        "Répartition par projet": {
            theme: "dark1", //light1, light2, dark1, dark2
            //width: "1000",
            legend: {
                fontFamily: "calibri",
                fontSize: 14,
            },
            data: []
        },
        "Évolution par catégorie": {
            animationEnabled: true,
            theme: "dark1", //light1, light2, dark1, dark2
            zoomEnabled: true,
            //width: "1000",
            //toolTip: {
            //    shared: true
            //},
            data: []
        },
        "Évolution pour catégorie": {
            animationEnabled: true,
            theme: "dark1", //light1, light2, dark1, dark2
            zoomEnabled: true,
            //width: "1000",
            //toolTip: {
            //    shared: true
            //},
            data: []
        },
        "Évolution pour projet": {
            animationEnabled: true,
            theme: "dark1", //light1, light2, dark1, dark2
            zoomEnabled: true,
            //width: "1000",
            //toolTip: {
            //    shared: true
            //},
            data: []
        },
        "Évolution du score": {
            theme: "dark1", //light1, light2, dark1, dark2
            zoomEnabled: true,
            //width: "1000",
            //toolTip: {
            //    shared: true
            //},
            data: []
        },
        "Répartition pour catégorie": {
            animationEnabled: true,
            theme: "dark1", //light1, light2, dark1, dark2
            //width: "1000",
            legend: {
                fontFamily: "calibri",
                fontSize: 14,
            },
            data: []
        },
    };
    
    // Clic
    function chart1Handler(e) {
        $.get("{% url 'ajaxCategorie' %}?categorie="+e.dataPoint.name+"{{ semaineStr }}{{ pourcentStr }}&duree={{ duree }}&decalage={{ decalage }}", function(retour) {
            chart = new CanvasJS.Chart("chartContainer1", chartOptions["Évolution pour catégorie"]);
            chart.options.data = retour.liste;
            var i;
            for (i = 0; i < chart.options.data.length; i++) { 
                chart.options.data[i].click = chart1bisHandler;
            }
            chart.options.title = { text: "Évolution pour "+e.dataPoint.name };
            chart.render();
        });
        $("#backButton1").toggleClass("invisible");
    }
    
    // Clic
    function chart1bisHandler(e) {
        $.get("{% url 'ajaxProjet' %}?categorie="+chart.options.title.text.slice(15)+"&projet="+e.dataPoint.name+"{{ semaineStr }}&duree={{ duree }}&decalage={{ decalage }}", function(retour) {
            //console.log("{% url 'ajaxProjet' %}?categorie="+chart.options.title.text.slice(15)+"&projet="+e.dataPoint.name+"{{ semaineStr }}&duree={{ duree }}&decalage={{ decalage }}")
            chart = new CanvasJS.Chart("chartContainer1", chartOptions["Évolution pour projet"]);
            chart.options.data = chartData["Évolution pour projet"];
            var i;
            for (i = 0; i < retour.liste.length; i++) {
                retour.liste[i].link = "{% url "histo" %}?projet="+e.dataPoint.name+"&jour="+retour.liste[i].label.split(" ")[1];
            }
            chart.options.data[0].dataPoints = retour.liste;
            chart.options.title = { text: "Évolution pour "+e.dataPoint.name };
            chart.render();
        });
        $("#backButton1").toggleClass("invisible");
    }
    
    // Retour
    $("#backButton1").click(function() { 
        chart = new CanvasJS.Chart("chartContainer1", chartOptions["Évolution par catégorie"]);
        chart.options.data = chartData["Évolution par catégorie"];
        chart.options.title = { text: "Évolution par catégorie" };
        chart.render();
        $(this).toggleClass("invisible");
    });

    // Clic
    function chart2Handler(e) {
        chart = new CanvasJS.Chart("chartContainer2", chartOptions["Répartition pour catégorie"]);
        chart.options.data = chartData["Répartition pour "+e.dataPoint.label];
        chart.options.title = { text: "Répartition pour "+e.dataPoint.label };
        chart.render();
        $("#backButton2").toggleClass("invisible");
    }
    
    // Retour
    $("#backButton2").click(function() { 
        chart = new CanvasJS.Chart("chartContainer2", chartOptions["Répartition par catégorie"]);
        chart.options.data = chartData["Répartition par catégorie"];
        chart.options.title = { text: "Répartition par catégorie" };
        chart.render();
        $(this).toggleClass("invisible");
    });

    function chart3Handler(e){ 
        window.open(e.dataPoint.link,'_self');  
    };

    // Instanciation
    var chart1 = new CanvasJS.Chart("chartContainer1", chartOptions["Évolution par catégorie"]);
    chart1.options.data = chartData["Évolution par catégorie"];
    chart1.options.title = { text: "Évolution par catégorie" };
    chart1.render();

    var chart2 = new CanvasJS.Chart("chartContainer2", chartOptions["Répartition par catégorie"]);
    chart2.options.data = chartData["Répartition par catégorie"];
    chart2.options.title = { text: "Répartition par catégorie" };
    chart2.render();

    var chart3 = new CanvasJS.Chart("chartContainer3", chartOptions["Répartition par projet"]);
    chart3.options.data = chartData["Répartition par projet"];
    chart3.options.title = { text: "Répartition par projet" };
    chart3.render();

    var chart4 = new CanvasJS.Chart("chartContainer4", chartOptions["Évolution du score"]);
    chart4.options.data = chartData["Évolution du score"];
    chart4.options.title = { text: "Évolution du score" };
    chart4.render();
}
</script>

        <input type="submit" class="btn invisible" id="backButton1" value="&lt; Retour"/>
        <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
        <input type="submit" class="btn invisible" id="backButton2" value="&lt; Retour"/>
        <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
        <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
{% endblock %}
