{% extends 'app/base.html' %}
{% load filters %}

{% block titre %}Historique{% endblock %}

{% block contenu %}
<div class="module">

    <table width=80%>
        <caption>
            <form action="{% url "histo" %}">
            Dernières tâches <a href="{% url "ajouteTache" 0 %}" class="objet-tools">Ajout</a>
                <input type="text" placeholder="Rechercher..." name="search">
            {% if valide %}<emph class="alerte-tools">Changements validés.</emph>{% endif %}
            </form>
        </caption>
        <tr>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Projet</th>
            <th>Note</th>
            <th>Durée</th>
            <th></th>
            <th></th>
        {% for tache in taches %}
        <tr>
            <td>{{ tache.debut|date:"D. d/m/y H:i" }}</td>
            <td><a href="{% url 'histo' %}?categorie={{ tache.projet.categorie.nom }}{{jourStr}}">{{tache.projet.categorie.nom}}</a></td>
            <td><a href="{% url 'histo' %}?categorie={{ tache.projet.categorie.nom }}&projet={{ tache.projet.nom }}{{jourStr}}">{{tache.projet.nom}}</a><br/>
                <a href="{% url 'projet' tache.projet.id %}">Lien projet</a></td>
            <td>{{ tache.note|linebreaks|truncatewords:32 }}</td>
            <td>{{ tache.temps|hour }}</td>
            <td><a href="{% url "modifieTache" tache.id %}" class="objet-tools">Modification</a></td>
            <td>
                <form action="{% url 'histo' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="Suppression">
                    <input type="hidden" name="modele" value="Tâche">
                    <input type="hidden" name="id" value="{{ tache.id }}">
                    <input type="submit" value="Supprimer">
                </form> 
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Il n'y a aucune tâche.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if page > 1 %}
<a href="{% url 'histo' %}?page={{precedent}}{{categorieStr}}{{projetStr}}{{jourStr}}{{searchStr}}">&lt; Précédent</a> | 
{% endif %}
Page {{page}}/{{pageMax}}
{% if page < pageMax %}
 | <a href="{% url 'histo' %}?page={{suivant}}{{categorieStr}}{{projetStr}}{{jourStr}}{{searchStr}}">Suivant &gt;</a>
{% endif %}

{% endblock %}
