{% extends 'app/base.html' %}

{% block titre %}Index{% endblock %}

{% block contenu %}
{% if valide != '' %}{{ valide }}{% endif %}

<div class="app-app module">
    <div class="row">
        <div class="column">
            <table>
                <caption>
                    Projets nouveaux ({{ projetsNouveaux|length }}) <a href="{% url "ajouteProjet" %}" class="objet-tools">Ajout</a>
                </caption>
                {% for projet in projetsNouveaux %}
                <tr class="model-categorie">
                    <th scope="row"><a href="{% url "projet" projet.id %}">{{ projet.nom }}</a></th>
                    <td>{{ projet.categorie }}</td>
                    <td><a href="{% url "modifieProjet" projet.id %}" class="objet-tools">Modification</a></td>
                </tr>
                {% empty %}
                <tr class="model-categorie">
                    <td>Il n'y a aucun nouveau projet.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
        <div class="column">
            <table>
                <caption>
                    Projets en cours ({{ projets|length }}) <a href="{% url "ajouteProjet" %}" class="objet-tools">Ajout</a>
                </caption>
                {% for projet in projets %}
                <tr class="model-categorie">
                    <th scope="row"><a href="{% url "projet" projet.id %}">{{ projet.nom }}</a></th>
                    <td>{{ projet.categorie }}</td>
                    <td><a href="{% url "modifieProjet" projet.id %}" class="objet-tools">Modification</a></td>
                </tr>
                {% empty %}
                <tr class="model-categorie">
                    <td>Il n'y a aucun projet.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<a href="{% url 'categorie' %}" class="objet-tools">Gérer les catégories</a>

{% endblock %}
