{% extends 'app/base.html' %}
{% load static %}
{% load filters %}

{% block titre %}Projets{% endblock %}

{% block contenu %}
<div class="app-app module">
    <table>
        <caption>
            {{ projet.nom }} <a href="{% url 'modifieProjet' projet.id %}" class="objet-tools">Modification</a>
        </caption>
        <tr class="model-categorie">
            <th scope="row">Catégorie</th>
            <td>{{ projet.categorie.nom }}</td>
        </tr>
        <tr class="model-categorie">
            <th scope="row">Statut</th>
            <td>{{ projet.statut.nom }}</td>
        </tr>
        <tr class="model-categorie">
            <th scope="row">Description</th>
            <td>{{ projet.description|linebreaks }}</td>
        </tr>
        <tr class="model-categorie">
            <th scope="row">Début</th>
            <td>{{ projet.debut|date:"D. d/m/y" }}</td>
        </tr>
        <tr class="model-categorie">
            <th scope="row">Fin</th>
            <td>{{ projet.fin }}</td>
        </tr>
        <tr class="model-categorie">
            <th scope="row">Temps total passé</th>
            <td>{{ tempsTotal|hour }}</td>
        </tr>
    </table>

    <p class="paginator">
        Créé le <strong>{{ projet.creeLe}}</strong>. Mis à jour le <strong>{{ projet.misAJourLe}}</strong>.
    </p>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="Suppression">
        <input type="hidden" name="modele" value="Projet">
        <input type="hidden" name="id" value="{{ projet.id }}">
        <input type="submit" value="Supprimer">
    </form> 
    <br/>
</div>

<script src="{% static 'js/canvasjs.min.js' %}"></script>
<script type="text/javascript">

window.onload = function () {

    var chart1 = new CanvasJS.Chart("chartContainer1", {
        title:{
            text: "Évolution du temps passé"                            
        },
        theme: "dark1", //light1, light2, dark1, dark2
        animationEnabled: true,
        zoomEnabled: true,
        data: [{
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "column",
            dataPoints: [
                {% for cle, valeur in evolutionProjet %}
                { label: "{{ cle }}", y: {{ valeur }} },
                {% endfor %}
            ]
        }]
    });
    chart1.render();
}
</script>
<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
<div class="app-app module">
    <table>
        <caption>
            Tâches ({{ taches|length }}) <a href="{% url 'ajouteTache' projet.id %}" class="objet-tools">Ajout</a>
        </caption>
        <tr class="model-categorie">
            <th scope="row">Début</th>
            <th scope="row">Note</th>
            <th scope="row">Durée</th>
            <th scope="row"></th>
            <th scope="row"></th>
        </tr>
        {% for tache in taches %}
        <tr class="model-categorie">
            <td>{{ tache.debut|date:"D. d/m/y H:i" }}</td>
            <td>{{ tache.note|linebreaks|truncatewords:32 }}</td>
            <td>{{ tache.temps|hour }}</td>
            <td><a href="{% url 'modifieTache' tache.id %}" class="objet-tools">Modification</a></td>
            <td>
                <form action="{% url 'projet' projet.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="Suppression">
                    <input type="hidden" name="modele" value="Tâche">
                    <input type="hidden" name="id" value="{{ tache.id }}">
                    <input type="submit" value="Supprimer">
                </form> 
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if page > 1 %}
<a href="{% url 'projet' id %}?page={{precedent}}">&lt; Précédent</a> | 
{% endif %}
Page {{page}}/{{pageMax}}
{% if page < pageMax %}
 | <a href="{% url 'projet' id %}?page={{suivant}}">Suivant &gt;</a>
{% endif %}

{% endblock %}
