{% extends 'app/base.html' %}

{% block titre %}Projets{% endblock %}

{% block contenu %}
<div class="app-app module">

    <table width=800px>
        <caption>
            Projets <a href="{% url "ajouteProjet" %}" class="objet-tools">Ajout</a> {% if valide %}<emph class="alerte-tools">Changements validés.</emph>{% endif %}
        </caption>
        <tr class="model-categorie">
            <th scope="row">Catégorie</th>
            <th scope="row">Nom</th>
            <th scope="row">Description</th>
            <th scope="row">Date</th>
            <th scope="row">Statut</th>
            <th scope="row"></th>
            <th scope="row"></th>
        {% for projet in projets %}
        <tr class="model-categorie">
            <td><a href="{% url 'projets' %}?categorie={{ projet.categorie.nom }}">{{projet.categorie.nom}}</a></td>
            <td><a href="{% url 'projet' projet.id %}">{{ projet.nom }}</a></td>
            <td>{{ projet.description|linebreaks|truncatewords:15 }}</td>
            <td>{{ projet.debut|date:"D. d/m/y" }}</td>
            <td><a href="{% url 'projets' %}?statut={{ projet.statut.nom }}">{{projet.statut.nom}}</a></td>
            <td><a href="{% url "modifieProjet" projet.id %}" class="objet-tools">Modification</a></td>
            <td>
                <form action="{% url 'projets' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="Suppression">
                    <input type="hidden" name="modele" value="Projet">
                    <input type="hidden" name="id" value="{{ projet.id }}">
                    <input type="submit" value="Supprimer">
                </form> 
            </td>
        </tr>
        {% empty %}
        <tr class="model-categorie">
            <td>Il n'y a aucun projet.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if page > 1 %}
{% if categorieFiltre != '' %}
<a href="{% url 'projets' %}?page={{precedent}}&categorie={{categorieFiltre}}">&lt; Précédent</a> | 
{% elif statutFiltre != '' %}
<a href="{% url 'projets' %}?page={{precedent}}&statut={{statutFiltre}}">&lt; Précédent</a> | 
{% else %}
<a href="{% url 'projets' %}?page={{precedent}}">&lt; Précédent</a> | 
{% endif %}
{% endif %}
Page {{page}}/{{pageMax}}
{% if page < pageMax %}
{% if categorieFiltre != '' %}
 | <a href="{% url 'projets' %}?page={{suivant}}&categorie={{categorieFiltre}}">Suivant &gt;</a>
{% elif statutFiltre != '' %}
 | <a href="{% url 'projets' %}?page={{suivant}}&statut={{statutFiltre}}">Suivant &gt;</a>
{% else %}
 | <a href="{% url 'projets' %}?page={{suivant}}">Suivant &gt;</a>
{% endif %}
{% endif %}

{% endblock %}
